//Google font
//"Poppins", sans-serif;

//Variables

$primaryColor:#1E2821;
$hoverColor:rgb(73, 110, 92);
$secondaryColor:#D8D3D7;
$textColor:rgb(44, 44, 44);

//Mixins

@mixin btn {
background-color: #65564d;
color: white;
font-size: 16px;
border-radius:30px;
padding: 10px 20px;
}

@mixin btn-hover{
    background-color: #534841;

}